// importing fonts

// fonts import successful
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 1.5s ease-out;
}

body {
  background-color: white;
}




